* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bcg {
  background: #e2e7ec;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.block-first {
  color: white;
  position: relative;
}


.block-first p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  position: absolute;
  bottom: 120px;
  left: 30px;
  width: 100%;
  color: #818181;
}

.block-first h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 100%;
}

.content {
  background-color: white;
  margin-bottom: 20px;
}

.img-first {
  margin-bottom: 20px;
  width: 100%;
}

.img-second {
  margin: 0 0 20px 20px;
}

.content p {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #818181;
  padding-left: 20px;
}

.content h2 {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #1d1d1d;
  margin-bottom: 95px;
  padding-left: 20px;
}
